@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@media (min-width:768){
    .news-input{
        width:50%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Ajuste de estilo de NAVBAR */

.navbar-brand {
    font-family: 'Bungee Spice', cursive;
    color: orangered;
    padding-bottom: 1.5em;
   

    /* aplicacion del font nombre de pagina */
}

.nav-link:hover {
    color: orangered;
}

.nav-item {
    padding-right: 50px;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;

}

/* main */
.main {
    
    background:url(../img/background.jpg);
    background-size:cover;
    height: 100vh;
    
}


.main p {
    font-size: 2rem;


}
.text{
    padding-top: 3rem;
}

.btn {
    height: 50px;
    width: 200px;
    color: white;   
}



.details h1{
    font-weight: 800;   
    font-size: 2rem;
    color:azure ;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
   

}
.details p {
    font-size: 2rem;
    color: azure;
    
}
h3{
    font-size: 1.5rem;
}
.footer{
    background-color:rgb(11, 9, 9) ;
    color:azure ;

}
footer h4,h5{
   font-weight: 900;
}
.footer p{
    margin: 0;
    color: rgb(216, 241, 241);
}
.link{
    cursor: pointer;
    transition: all 0.5s;
}
.link:hover{
    color: rgb(235, 239, 239);
    padding-left: 5px;
    transition: all 0.5s;

}
.bi-arrow-right-short{

font-size: 18px;
color: azure;
}

.social{
    color: azure;
    font-size: 24px;
    transition: all 0.4s;

}
.social:hover{
    color: brown;
    transition: all 0.4s;
    cursor: pointer;
}

/* ====================cards=============== */
.img-container{
    
    width: 40vh;
    height: 300px;
    object-fit: contain;
    align-items: center;
    
}
.card{
    margin-top: 10rem;
}
/* ====================cards=============== */
.img-container{
    
    width: 40vh;
    height: 300px;
    object-fit: contain;
    align-items: center;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
 
}
    

.card{
    margin-top: 5rem;
}

.img-container:hover{
    transition: 1s;
    opacity: 0.5;
    
}



